
.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;

}
.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}    


.ine{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100px;
    border: 2px solid black;
    justify-content: center;
    align-items: flex-start;
    margin: 10px auto;
}

p{
    font-weight: bold;
}
